html{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  color:#333;
  background-color: #fefefe;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  line-height: 1.5;
}
body{
  margin:0;
  padding: 0;
}
*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
}
p {
  margin: 1em 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,strong{
  font-weight: inherit;
}

b,strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: 1em;
  white-space: pre;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
  margin: auto;
}

svg:not(:root) {
  overflow: hidden;
}

canvas {
  display: inline-block;
}

[hidden] {
  display: none;
}
hr{
  border: 2px solid #ccc;
  margin: 10px 0 20px 0;
}
a{
 color:#07a;
 text-decoration:none;
 transition: opacity 0.2s;
}
a.disabled{
  color: #ccc;
}
a:visited {
 color:#60467d
}
a.novisited:visited{
  color:#07a;
}
a:hover{
  opacity: 0.8;
}
a.disabled:hover{
  opacity: 1;
}
.nomargin{margin:0;}
.pull-right{ float:right; }
.aligncenter{text-align:center;}
.blu { color: #35495e; }
.mainbanner {
  margin: auto;
  display: block;
}
.megatitle{
  display: block;
  text-align: center;
  font-size: 50px;
  font-size: 9vw;
  font-weight: 400;
  color: #35495e;
  letter-spacing: 1px;
  margin: 20px;
}
.bold {
  font-weight: bold;
}
@media (min-width: 1100px){
  .megatitle{
    font-size: 100px;
  }
}
@media (max-width: 580px){
  .megatitle{
    font-size: 40px;
  }
}
.description{
  max-width: 400px;
  margin: 30px auto 60px auto;
  font-size: 1em;
  text-align: center;
  font-weight: normal;
}
.footer{
  margin: 20px auto;
  text-align: center;
}
.item{
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 10px 15px;
}
.item .title{
  text-align: center;
  margin:10px 0;
  font-size: 20px;
}
.item .title a{
  display: inline-block;
}
.item p{
  text-align: center; 
  max-width: 350px;
  margin:auto;
}
@media (max-width: 780px){
  .article{
    width: 50%;
  }
}
@media (max-width: 580px){
  .item{
    width: 100%;
  }
}